<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template_data.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Home/index.css' %}">
  </head>

  <body>
    <div class = "home-container">
      {% load static %}
      <img src="{% static 'Home/home-background.png' %}" class="bg-img">

      <div class = "home-header">
        <div>
          <p class = "title">
            Movie Store
          </p>
        </div>

        <div>
          {% if user.is_authenticated %}
          <button class="btn-login" onclick="location.href='{% url 'accounts.logout' %}'">
            Logout ({{ user.username }})
          </button>
          {% else %}
          <button class="btn-login" onclick="location.href='{% url 'accounts.login' %}'">
            Login
          </button>
          {% endif %}
        </div>
      </div>

      <div class = "message-container">
        <p class = "welcome-message"> Welcome to Movie Store </p>
        <p class = "sub-wel-msg"> Your Ticket to Unlimited Entertainment</p>
        <p class = "sub-wel-msg"> The Best Movie Experience</p>
      </div>

      <div class = "button-container">
        <p class = "button-msg1"> Learn more about us! </p>
        <button class = "use-button1" onclick="location.href='{% url 'Home.about' %}'"> About </button>
        <button class = "use-button2" onclick="location.href='{% url 'movies.index' %}'"> Movies </button>
        <p class = "button-msg2"> Start Searching! </p>
      </div>

    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-left">
          <h3>Movie Store</h3>
          <p>© 2025 Movie Store. All rights reserved.</p>
        </div>

        <div class="footer-middle">
          <h4>Quick Links</h4>
          <ul>
            <li> <a href="{% url 'Home.about' %}" class="use-button1"> About </a> </li>
            <li> </li><a href="{% url 'movies.index' %}" class="use-button2"> Movies </a> </li>
          </ul>
        </div>

        <div class="footer-right">
          <h4>Contacts</h4>
          <ul class="social-icons">
            <li><a href="#" class="social-icon">Koan</a></li>
            <li><a href="#" class="social-icon">Elvis</a></li>
            <li><a href="#" class="social-icon">Alina</a></li>
            <li><a href="#" class="social-icon">Steve</a></li>
            <li><a href="#" class="social-icon">Daksh</a></li>
          </ul>
        </div>
      </div>
    </footer>

  </body>
</html>
