<!DOCTYPE html>
  <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Sign Up Page</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'Signup/signup.css' %}">
    </head>

    <body>
      <div class = "signup-container">
        <div>
            <h1 class = "signup-title">Sign Up Page</h1>
        </div>

        <form method="POST" class = "signup-form">
          {% csrf_token %}

          {% for field in template_data.form %}
            <div><p>{{ field.label }}</p></div>
            <div><p>{{ field }}</p></div>
            <div><p>{{ field.errors }}</p></div>
          {% endfor %}

          <div>
            <button class="signup-button" type="submit">Sign Up</button>
          </div>
        </form>

      </div>
    </body>

</html>