<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'cart/cart.css' %}">
</head>
<body>
    <a class="nav-link" href="{% url 'movies.index' %}">Movies</a>
  {% load static %}
  <img src="{% static 'cart/home-background.png' %}" class="bg-img">
    <header>
        <h1>Cart</h1>
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.movie.name }} - ${{ item.movie.price }} ({{ item.quantity }})
                    <form action="{% url 'movies.remove-from-cart' cart_item_id=item.id %}" method="get">
                        <button type="submit">Remove from cart</button>
                    </form>

                </li>
            {% empty %}
                <li>Your cart is empty.</li>
            {% endfor %}
        </ul>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </header>


</body>
</html>
