<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <title>{{ template_data.title }}</title>
      {% load static %}
      <link rel="stylesheet" href="{%static 'Login/login.css' %}">
    </head>

    <body>
      {% load static %}
      <img src="{% static 'Login/home-background.png' %}" class="bg-img">

      <div class = "login-container">
        <h1 class = "login-header"> Login Page </h1>

        {% if template_data.error %}
        <div> {{ template_data.error }} </div>
        {% endif %}

        <form method="POST">
          {% csrf_token %}
          <div>
            <p>
              <input class="username-input" type="text" id="username" name="username" required autocomplete="username" class="form-control" placeholder = "Username">
            </p>
          </div>

          <div>
            <p>
              <input class="username-input" type="password" id="password" name="password" required autocomplete="current-password" class="form_control" placeholder = "Password">
            </p>
          </div>

          <div>
            <button class = "login-button" type="submit">Login </button>
          </div>

          <div>
            <p class = "signup-link">
              Don't have an account? <a href="{% url 'accounts.signup' %}"> Sign Up</a>
            </p>
          </div>
        </form>

      </div>
    </body>
  </html>