<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <title>{{ template_data.title }}</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'signup/signup.css' %}">
    </head>

    <body>
      {% load static %}
      <img src="{% static 'login/home-background.png' %}" class="bg-img">
      <div class = "signup-container">
        <div>
          <h1 class = "signup-title">Sign Up</h1>
        </div>

        <form method="POST" class = "signup-form">
          {% csrf_token %}

          {% for field in template_data.form %}
            <div>
              <p class = "input-box">{{ field }}</p>
            </div>

            <div>
              <p>{{ field.errors }}</p>
            </div>
          {% endfor %}

          <div>
            <button class="signup-button" type="submit">Sign Up</button>
          </div>

          <div>
            <p class = "have-account-link">
              Already have an account? <a href="{% url 'accounts.login' %}">Login</a>
            </p>
          </div>
        </form>

      </div>
    </body>

</html>